.contactUs {
  background-color: rgb(228,228,228);
  font-family: "Arial Nova Cond", Arial, sans-serif;
  margin: auto;
  width: 100%; /* Set the width to 100% of its parent container */
  height: 100lvh; /* Set a fixed height */
}
